.leaflet-radar {
       
        /* from leaflet-control-layers */
        border-radius: 5px;
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;
        
        padding: 5px;
        height: 67.5px;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-radar .leaflet-radar-timestamp {
        text-align: center;
}
